*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}
header .header_top{
    background-color: black;
} 
header .header_top .header_tel{
    margin: 0;
    font-size: 11px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}
header .header_tel a{
    color: white;
    margin-left: 10px;
}
header .header_top .dropdown{
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    
}
header .header_top .dropdown .btn{
    color: white;
    padding: 11px 3px 10px 6px ;
    font-weight: 400;
    font-size: 12px;
}
header .header_top .header-user {
color: white;
}
header .header_top .header-user .fa{
    
    color: #666666;
    margin: 0 11px;
}
header .header_top .header-search{
    background: transparent;
    border: none;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    margin-left: 10px;
    align-self: stretch ;

}
header .header_top .header-search .fa{
    color: white;
    font-size: 17px;
    margin: 0 6px 0 8px;
}
header .header_nav{
    background-color: #fafafa;
    padding: 20px 0;
}
header .header_nav .header-logo{
    color: black;
    font-size: 24px;
    font-weight: 400;
}
header .header_nav .navbar .collapse .navbar-nav .nav-item .nav-link{
    color: black;
    font-size: 15px;
    font-weight: 400;
    
}
header .header_nav .dropdown{
    width: 90%;
    border: 1px solid #d6d6d6;
    font-size: 12px;
}
header .header_nav .dropdown .btn{
    width: 100%;
    padding: 9px 6px 13px 9px ;
    color: #949393;
    font-size: 12px;
}
header .header_nav .dropdown .dropdown-toggle::after{
    margin-left:100px;
}
header .header_nav .header_shop{
    width: 90%;
    display: flex;
    justify-content: space-between;
    background: transparent;
    border: none;
    color: #949393;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding: 9px 6px 5px 14px;
    font-size: 12px;
   
}
header .header_nav .header_shop .fa{
    font-size: 20px;
}
header .menu_slider {
    font-family: 'Roboto',sans-serif;
}
header .menu_slider .bd-example .carousel{
    width: 100%;
    height: 440px;
    
}
header .menu_slider .bd-example .carousel .carousel-inner .carousel-item img{
    width: 100%;
    height: 440px;  
}
header .menu_slider .bd-example .carousel .carousel-inner .carousel-item .carousel-caption{
    right: 50%;
    top: 40px;
}
header .menu_slider .bd-example .carousel .carousel-inner .carousel-item .carousel-caption h1{
    font-size: 65px;
    line-height: 68px;
    font-weight: 700;
    color: #eee6e4;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 70px;
}
header .menu_slider .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .btn{
    border: 3px solid black;
    background-color: #1f1f1f;
    color: white;
    margin-bottom: 15px;

}
header .menu_slider .bd-example .carousel .carousel-inner .carousel-item .carousel-caption p{
    color: #eee6e4;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}
header .menu_slider .bd-example .carousel .carousel-control-prev{
    width: 30px;
    height: 117px;
    background-color: #e8e8e7;
    opacity: 1;
    top: 36%;
}
header .menu_slider .bd-example .carousel .carousel-control-prev .fa{
    color: #babab9;
}
header .menu_slider .bd-example .carousel .carousel-control-next{
    width: 30px;
    height: 117px;
    background-color: #e8e8e7;
    opacity: 1;
    top: 36%;
}
header .menu_slider .bd-example .carousel .carousel-control-next .fa{
    color: #babab9;
}
header .menu_slider .carousel .carousel-indicators{
    width: 100%;
    min-height: 75px;
    margin: 0;
    bottom: -75px;
    display: flex;
    justify-content: center;
    align-items: center;

}
header .menu_slider .carousel .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #867a76;
    border: none;
}
header .menu_slider .carousel .carousel-indicators li.active{
    background-color: black;
}
main .main_top{
    margin-top: 75px;
    background-color: black;
}
main .main_top .main_email{
    width: 100px;
    font-weight: 400;
    font-style: italic;
}
main .main_top p{
    font-size: 12px;
    color: white;
    font-weight: 400;
    margin: 0;
    margin-right: 13px;
}
main .main_top ul{
    display: flex;
    list-style: none;
    margin: 0;
}
main .main_top ul li a .fa{
    color: #6b6b6b;
    font-size: 20px;
    background-color: #f7f7f7;
    padding: 19px 20px 19px 15px;
}
main .main_top ul li a .fa:hover{
    background: #ededed;
}


main .main_brand{
    padding: 40px 0px 50px;
}
main .main_brand .watch{
    margin-top: 16px;

}
main .main_brand .card{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
main .main_brand  .card:hover::after{
    transform: translateY(0px);
}
main .main_brand .card::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 0, 0.45);
    transform: translateY(-500px);
    transition: 500ms;
}


main .catalog_price .list-group {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}
main .catalog_price .list-group .list-group-item{
    padding: 18px 26px;
    color: #555555;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    width: auto;
    border: none;
    border-radius: 0px;
    background: transparent;
}
main .catalog_price .list-group .list-group-item.active{
    background-color: black;
    color: white;
}
main .catalog_price .tab-content{
    background-color: black;
    padding: 30px 0 40px;
}
main .catalog_price .tab-content .tab-pane .card{
    border-radius: 0;
    border: none;
}
main .catalog_price .tab-content .tab-pane .card img{
    max-width: 100%;
    height: 300px;
    border-radius: 0;
}
main .catalog_price .tab-content .tab-pane .card .card-body{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .catalog_price .tab-content .tab-pane .card .card-body h5{
    font-size: 21px;
    font-weight: 400;
    color: #373737;
    margin-top: 8px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
main .catalog_price .tab-content .tab-pane .card .card-body span{
    font-weight: 400;
    font-size: 21px;
    color: #373737;
    margin-bottom: 19px;

}
main .catalog_price .tab-content .tab-pane .card .card-body .btn{
    border: 3px solid black;
    background: #1f1f1f;
    color: white;
    margin-bottom: 15px;
}
.sale_off .sale{
    padding: 24px 0px;
    text-align: center;
}
.sale_off .sale .sale_link{
    display: flex;
    justify-content: center;
    align-items: center;

}
.sale_off .sale .sale_link::after{
    content: "";
    display: block;
    height: 1px;
    width: 36%;
    background-color: #d6d6d6;
    transform: translateX(16px);
}
.sale_off .sale .sale_link::before{
    content: "";
    display: block;
    height: 1px;
    width: 36%;
    background-color: #d6d6d6;
    transform: translateX(-16px);
}
.sale_off .card {
    border: none;
}
.sale_off .card .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #f7f7f7;
}
.sale_off .card .card-body h5{
    font-size: 12px;
    font-weight: 400;
    color: #373737;
    margin-top: 8px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.sale_off.card .card-body span{
    font-weight: 400;
    font-size: 22px;
    color: #373737;
    

}
.sale_off .card .card-body .btn{
    border: 3px solid black;
    background: #1f1f1f;
    color: white;
    margin-top: 25px;
    
}
.sale_off .card img{
    width: 100%;
    height: 300px;

}


















